.input-output-container {
    width: 80%;
    margin: 0 auto;
}

.result-box {
    width: 100%;
    margin: 0;
    background-color: #f0f0f0;
}

.custom-border {
    border: 10px solid #0070d2;
    border-radius: 0.25rem;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 112, 210, 0.5);
    margin: 0;
    background-color: #f5f5f5;
}

.title-container {
    text-align: center;
}

.custom-title {
    margin: 0.05rem 0;
}
